.background {
    background-color: rgb(200, 209, 226);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.img {
    width: 200px;
    height: 200px;

    background-image: url('../photo/박은총 증명사진.jpg');
    background-position: center;
    background-size: cover;
}

.buttonBox {
    display: block;
    text-align: center;
}

.btn {
    background-color: bisque;
    width: 150px;
    height: 70px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;

    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;

    font-size: 18px;
    font-family: 'Jua', sans-serif;

    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button:active {
    background-color: rgb(233, 214, 186);
    transform: translateY(2px);
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Dongle', sans-serif;
}

p {
    color: gray;
    font-size: 12px;
}

.madeby {
    width: auto;
    height: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}